@implements IDisposable
@inject NavigationManager Navigation
@inject StateService StateService
@inject GoogleDriveService GoogleDriveService
@inject ILogger<WorkoutPlayer> Logger

@if (player != null)
{
    <div class="oefening">
        <Stack>
            <p class="oefening-titel">
                @player.Oefening.Naam
            </p>
            <p class="oefening-nummer">
                @player.Oefeningnummer / @player.AantalOefeningen
            </p>
        </Stack>

        <ul class="oefening-tips">
            @foreach (var tip in player.Oefening.Tips)
            {
                <li>@tip</li>
            }
        </ul>

        <div class="oefening-afbeelding">
            @if (player.IsKlaar)
            {
                <img src="images/yeah.gif" alt="Yeah" />
            }
            else if (player.IsPauze)
            {
                <img src="images/pauze.jpg" alt="Pauze"/>
            }
            else
            {
                if (player.Oefening.InitieelTonen == InitieelTonen.Afbeelding)
                {
                    <img src="@player.Oefening.AfbeeldingUrl" alt="@player.Oefening.Naam" />
                    @if (toonVideo)
                    {
                        <embed src="@player.Oefening.VideoUrl" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                        <button class="btn btn-fw" @onclick="VerbergVideo">Verberg video</button>
                    }
                    else
                    {
                        @if (player.Modus == Modus.Handmatig)
                        {
                            <button class="btn btn-fw" @onclick="ToonVideo">Toon video</button>
                        }
                    }
                }
                if (player.Oefening.InitieelTonen == InitieelTonen.Video)
                {
                    <embed src="@player.Oefening.VideoUrl" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                    @if (toonAfbeelding)
                    {
                        <img src="@player.Oefening.AfbeeldingUrl" alt="@player.Oefening.Naam" />
                        <button class="btn btn-fw" @onclick="VerbergAfbeelding">Verberg afbeelding</button>
                    }
                    else
                    {
                        @if (player.Modus == Modus.Handmatig)
                        {
                            <button class="btn btn-fw" @onclick="ToonAfbeelding">Toon afbeelding</button>
                        }
                    }
                }
            }
        </div>
        
        @if (player.Oefening.DuurSet > TimeSpan.Zero || player.IsPauze)
        {
            <Stack>
                <p class="oefening-herhalingen">
                    @if (player.Oefening.AantalHerhalingen > 1)
                    {
                        <span>@(player.Oefening.AantalHerhalingen)x</span>
                    }
                </p>
                <div class="oefening-tijd">
                    @if (player.IsPauze)
                    {
                        <span class="resterende-tijd">@player.ResterendeTijdPauze.ToString(@"m\:ss")</span>
                    }
                    else
                    {
                        <span class="resterende-tijd">@player.ResterendeTijdSet.ToString(@"m\:ss")</span>
                    }
                </div>
                <p class="oefening-sets">
                    @if (player.Oefening.AantalSets > 1)
                    {
                        <span>set&nbsp;@player.Set/@player.Oefening.AantalSets</span>
                    }
                </p>
            </Stack>
        }
    </div>

    <div class="start-stop">
        @if (player.Modus == Modus.Handmatig)
        {
            @if (player.ResterendeTijdSet == player.Oefening.DuurSet && player.ResterendeTijdPauze == player.Oefening.DuurPauze)
            {
                <button class="btn btn-fw btn-green" @onclick="() => player.Start()">Start</button>
            }
            else
            {
                <button class="btn btn-fw btn-green" @onclick="() => player.Start()" disabled="@player.IsKlaar">Hervat</button>
            }
        }
        else
        {
            <button class="btn btn-fw btn-red" @onclick="() => player.Stop()">Stop</button>
        }
    </div>

    @if (player.Modus == Modus.Handmatig)
    {
        <Stack>
            <button class="btn btn-fw mr-1" @onclick="() => player.VorigeSet()" disabled="@(player.Vorige == default && player.Set == 1 && !player.IsPauze)">&lt;</button>
            <button class="btn btn-fw" @onclick="() => player.VolgendeSet()" disabled="@(player.Volgende == default && player.Set == player.Oefening.AantalSets)">&gt;</button>
        </Stack>
    }

    @if (player.Set == player.Oefening.AantalSets && player.IsPauze)
    {
        <div class="volgende-set-preview">
            <span> &gt;&gt; @player.Volgende.Naam</span>
            <img src="@player.Volgende.AfbeeldingUrl" alt="@player.Volgende.Naam" />
        </div>
    }
}

@code
{
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationState { get; set; }
    [Parameter, EditorRequired] public CategorieType Categorie { get; set; }

    private Player? player;
    private bool toonVideo;
    private bool toonAfbeelding;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var querystring = QueryHelpers.ParseQuery(uri.Query);
        var oefeningnummer = querystring.ContainsKey("oefening") ? int.Parse(querystring.GetValueOrDefault("oefening").First()!) : 1;
        var set = querystring.ContainsKey("set") ? int.Parse(querystring.GetValueOrDefault("set").First()!) : 1;
        
        player = new Player(Categorie, oefeningnummer, set);
        player.OnTick += PlayerTick;
        player.OnSetChange += PlayerSetChanged;
    }

    private void PlayerTick()
    {
        InvokeAsync(StateHasChanged);
    }

    private void PlayerSetChanged()
    {
        InvokeAsync(async () =>
        {
            try
            {
                await VoortgangPersisteren();
            }
            catch (Exception e)
            {
                Logger.LogError(e, $"Exception in {nameof(PlayerSetChanged)}");
                throw;
            }
        });
    }

    private async Task VoortgangPersisteren()
    {
        var url = Navigation.GetUriWithQueryParameters(new Dictionary<string, object?>
        {
            {"oefening", player!.Oefeningnummer},
            {"set", player!.Set}
        });

        // update querystring
        if (Navigation.ToAbsoluteUri(Navigation.Uri).AbsolutePath == Navigation.ToAbsoluteUri(url).AbsolutePath)
            Navigation.NavigateTo(url);

        if (await IsAuthenticated())
        {
            var m = StateService.Model ?? new PersistedModel();
            m.Changed = DateTime.Now;
            m.Url = Navigation.ToBaseRelativePath(url);
            await GoogleDriveService.SaveAsync(m);
        }
    }

    private async Task<bool> IsAuthenticated()
    {
        if (AuthenticationState is not null)
        {
            var authState = await AuthenticationState;
            var user = authState.User;

            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                return true;
            }
        }
        return false;
    }

    private void ToonVideo()
    {
        toonVideo = true;
    }

    private void VerbergVideo()
    {
        toonVideo = false;
    }

    private void ToonAfbeelding()
    {
        toonAfbeelding = true;
    }

    private void VerbergAfbeelding()
    {
        toonAfbeelding = false;
    }

    public void Dispose()
    {
        AuthenticationState?.Dispose();
        if (player != null)
        {
            player.OnTick -= PlayerTick;
            player.OnSetChange -= PlayerSetChanged;
            player.Dispose();
        }
    }
}
